@charset "UTF-8";

html {
	scroll-behavior: smooth;	
}

a:hover, a {
	text-decoration:none;
	color: #000;
}

#mycontent {
	background-color:#eff1f3;
}

div.register_body {
	display: flex;
	justify-content: space-between;
}

p.fk_self_checkin_p {
	color:#737373;
	margin-top:10px;
	margin-left:8px;
}

/* ==== 좌측 단계 정보 ==== */
div.register_body > #fixed_step {
	background-color:#fff;
	width:280px;
	height:715px;
	
	position:sticky;
	top: 0px;
}

div#fixed_step > div.middle_po {
	margin-top:50px;	
}

div.step_num {
	display:flex;
	height:60px;
}


div.step_num > div.out_num {
	width:20%;
	display:flex;
}

div.step_num > div.out_num > div.__num {
	border-radius:50%;
	width:25px;
	height:25px;
	background-color:#242424;
	color:#fff;
	text-align:center;
	font-weight:bold;
	
	align-items:center;
	line-height:24px;
	margin:auto 0 auto auto;
	
	position:relative;
	left:13px;
}

div.step_num > div.out_step_text {
	width:80%;
	display:flex;
	padding-left:25px;
	
}

div.step_num > div.out_step_text > div.step_text {
	margin:auto 0;
	font-size:11pt;
}

div.current_step {
	background-color:#eff1f3;
}

/* ==== 우측 입력 정보 ==== */
div.register_body > div#lodge_info > div#form_data {
	background-color:#fff;
	width:830px;
	border:solid 2px black;
}

div.__flex {
	display: flex;
	justify-content: space-between;
}

div.div_sub {
	margin-top:20px;
	margin-bottom:10px;
	font-size:13pt;
	flex-grow:1;
}

div.__data {
	margin:40px 20px;
}

div.y_btn_after {
	margin-left:40px;
}

div.use_time {
	margin-left:20px;
	margin-bottom:30px;
}

div.use_time > div.div_sub {
	margin:0px;
}

span.error {
	color:#e41b1b;
	font-size:10pt;
}

	/* 버튼 */
div.btn_div {
	width:200px;
	margin:auto 0px;
}

button.y_btn,
button.n_btn {
	background-color:#fff;
	border-radius:3px;
	border:solid 1px #C7C7C7;
	color:#616161;
	width:90px;
	height:35px;
}

button.click_btn {
	background-color:#0074e7;
	color:#fff;
}

select {
	background-color:#f3f3f3;
	height:30px;
	padding-left:10px;
	
}

select.start_time,
select.end_time {
	width:154px;
}

svg {
	margin:auto 0;
	margin-right:10px;
}

svg.submit_check {
	margin-left:10px;
	width:20px;
	height:20px;
}

	/* 하단 버튼 */
div.hadan {
	margin-top:30px;
}

div.hadan > button#lodge_register {
	width:150px;
	height:35px;
	font-weight:bold;
	background-color:#ffc100;
	border:solid 1px #000;
	box-shadow: #000;
}


/*  == 구분선, 데이터, 이름 == */
span.sub {
	margin:auto 0px;
	display:inline-block;
	flex-grow:1;
}

div._br{
	margin:30px 0;
	border: solid 1px #d3d9de
}



/* input태그 number 스피너 없애기 */
input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

